
.navbar{
    background-color:rgb(251, 252, 252  );
    box-shadow: 0 2px 4px 0 rgba(0red, 0, 0, .05);  
    min-height: 100px;
}

.nav-link{
    color: rgb(97, 97, 97);

}

.nav-link:hover{
    color:rgb(179, 179, 179);
}
.navbar-toggler{
    background-color: rgb(255, 255, 255);
    font-size: 40px;
}
.navbar-toggler:focus{
    outline: none;
}
.navbar:ml-auto {
    color: white !important;
}




#carouselExampleIndicators .carousel-inner:before{
	position: absolute;
	content: '';
	background: rgba(0, 0, 0, 0.50);
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	z-index: 1;
}


#carouselExampleIndicators .carousel-inner .carousel-item .info{
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	height: auto;
	width: 100%;
	z-index: 1;
	text-align: center;
}

#carouselExampleIndicators .carousel-inner .carousel-item h1{
	height: auto;
	color: #fff;
	width: 100%;
	z-index: 1;
	text-align: center;
	font-size: 150px;
	font-weight: 350;
}
#carouselExampleIndicators .carousel-inner .carousel-item h2{
	height: auto;
	color: honeydew;
	width: 100%;
	z-index: 3;
	text-align: center;
	font-size: 80px;
	font-weight: 250;
}
#carouselExampleIndicators .carousel-inner .carousel-item p{
	height: auto;
	color: #ccc;
	width: 100%;
	z-index: 1;
	text-align: center;
	font-size: 1.2em;
	font-weight: 500;
}
.mora div{
    background-color: rgb(235, 16, 83);
}
.uva div{
    background-color: rgb(87, 53, 112 );
}
.fresa div{
    background-color: rgb(235, 32, 47 );
}
.maracuya div{
    background-color: rgb(241, 196, 15);
}
.mango div{
    background-color: rgb(243, 156, 18);
}
.lulo div{
    background-color: rgb(183, 207, 45);
}
.guanabana div{
    background-color: rgb(64, 172, 64);
}
.guayaba div{
    background-color: rgb(245, 111, 111);
}
/* .cliente div{
    background-color: rgb(10, 10, 10);
} */
.color_verde{
    color: rgb(46, 204, 113);
}
.fondo{
    background-color: rgb(242, 243, 244 );
}


.carousel-inner:before{
	position: absolute;
	content: '';
	background: rgba(0, 0, 0, 0.50);
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	z-index: 1;
}

.info_Cliente{
    position: absolute;
    top: 240px;
    left: 0;
    width: 100%;
    font-size:150px;
    line-height: 80px;
}


    /* h1 {
        position: absolute;
        top: 240px;
        left: 0;
        width: 100%;
        font-size:150px;
        line-height: 80px;
    } */
    /* h2 {
        position: absolute;
        top: 300px;
        left: 0;
        width: 100%;
        font-size:100px;
        line-height: 80px;

    } */
    .contenido-container img{
        -moz-transition: all 1.0s;
        -webkit-transition: all 1.0s;
        transition: all 1.0s;
    }
    .background div{
        background-color: darkgreen;

    }
    .contenido-container:hover img{
        -moz-transforms: scale(0.9);
        -webkit-transform: scale(0.9);
        transform: scale(0.9);
    }
    .p-f{
        position: absolute;
        top: 200px;
        left: 0px;
        width: 100%;
        font-size: 20px;
        padding: 100px;

    }

.footer{
    background: black !important;
    color: white;
}
.container-fluid:footerDown{
    background: rgb(48, 48, 48);
}

@media (max-width: 575.98px) { 
    h1{
        font-size: 40px; line-height: normal;
    }
 }


/*@media (min-width: 576px) and (max-width: 767.98px) { ... }


@media (min-width: 768px) and (max-width: 991.98px) { ... }


@media (min-width: 992px) and (max-width: 1199.98px) { ... }

@media (min-width: 1200px) { ... }


